<small class="message {{ message.type }}" ng-repeat="message in messages track by $index">{{ message.content }}</small>

<div class="device-authentication">
  <div class="fields" ng-if="device">
    <p>
      Open
      <a ng-href="{{ device.verification_url }}" target="_blank">{{ device.verification_url }}</a>
      and enter this code:
    </p>
    <p><strong>{{ device.user_code }}</strong></p>
    <p ng-if="isPolling">Waiting for authorization&hellip;</p>
  </div>

  <div class="buttons {{ buttonSize }}">
    <div class="buttons-left">
      <a class="button secondary {{ buttonSize }}"
         ng-class="{disabled: !isCancelEnabled}"
         ng-click="cancelDeviceLogin()"
         ng-show="cancelled"
      >
        Cancel
      </a>
    </div>

    <co-button ng-if="!isPolling" co-size="{{ buttonSize }}" co-callback="deviceLogin">
      {{ device ? 'Try again' : 'Connect with Trakt' }}
    </co-button>
  </div>
</div>
